body {
  font-family: 'Times New Roman', Times, serif;
  color: white;
  font-size: 22px;
}

.row {
  height: 14.28vh;
}

.calCyl {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.5s;
}

#sum,
#result {
  font-family: 'Courier New', Courier, monospace;
  display: flex;
  align-items: center;
  background-color: rgba(22, 22, 22, 0.747);
  transition: 0.5s;
}

.calCyl:hover {
  font-size: 2rem;
  border: solid white !important;
}

.math {
  background-color: rgba(175, 109, 22, 0.747);
}

.number {
  background-color: rgba(71, 71, 70, 0.534);
}

#ac,
#c {
  background-color: rgba(36, 36, 36, 0.623);
}

.pressed {
  box-shadow: 0 3px 4px 0 #dbedf3;
  opacity: 0.5;
}

.calcylated {
  text-decoration: underline;
  font-style: italic;
}
